[Unit]
Description=Vanane Wiki
After=docker.service
Requires=docker.service

[Service]
User=wiki
Group=wiki
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/home/wiki
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose -f /home/wiki/compose.yml stop wiki

[Install]
WantedBy=multi-user.target





